<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://yun-cztv.oss-cn-hangzhou.aliyuncs.com/blue_tv/yun_ugc_2016-10-19_14-48-59.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://img01.cztv.com/channel/cztv/1/ac_logo_ccdfac951b34f2a197c261a1e698e2c7.png</string>
               </dict>
           <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://img01.cztv.com/channel/cztv/1/ac_logo_ccdfac951b34f2a197c261a1e698e2c7.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
                 <key>bundle-identifier</key>
               <string>ugctest.enterprise</string>
               <key>bundle-version</key>
               <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>UGC_test</string>
               <key>title</key>
               <string>UGC_test</string>
           </dict>
       </dict>
       
   </array>
</dict>
   
 
</plist>